section {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: var(--font-3);
  .alert{
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    z-index: 1;
    width: 20rem;
    margin: auto;
  }
  form{
    width: 100%;
    margin: auto;
    height: 100%;
  }
  .credentials {
    width: 50%;
    // background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    .back0{
   font-size: 2rem;
      margin-left: -500px;
      cursor: pointer;
      color: var(--color-dark);
    }
    .steps{
display: flex;
align-items: center;
// background-color: red;
gap:1rem;
justify-content: space-between;
p{
  font-weight: 500;
  margin: 0;
}
    }
    b {
      font-size: 3rem;
      font-weight: 900;
      color: var(--color-dark);
      margin: 0px;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 1.7rem;
      strong{
        color: var(--color-1);
        cursor: pointer;
        &:hover{
          color: var(--color-2);
        }
      }
    }
    .inputFields {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      width: 55%;
      label {
        font-size: 1rem;
        font-weight: 500;
      }
      input,select {
        width: 100%;
        height: 3rem;
        border-radius: 0.6rem;
        border: 3px solid var(--color-four);
        padding: 0.7rem;
        font-size: 1.3rem;
        outline: none;
      }
      select{
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-dark);
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border: 2px solid var(--color-1);
        box-sizing: border-box;
        padding: 8px;
        border: 2px solid var(--color-four);
      }
    }
    .fpassword {
      margin-right: -250px;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        color: var(--color-2);
      }
    }
   
    .buttons{
      display: flex;
      width: 55%;
      align-items: center;
      margin: 1rem 0;
      justify-content: center;
      gap:50%;
      button{
        width: 30%;
        font-size: 1rem;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1rem;
      }
    }
    button {
      width: 55%;
      height: 50px;
      
      font-family: var(--font);
      font-size: 1.3rem;
      outline: none;
      transition: all 0.2s ease-in;
      cursor: pointer;
      p {
        margin: 0;
      }
      &:hover {
        transform: scale(1.01);
      }
    }
    .login {
   background-color: var(--color-dark);
      color: var(--color-light);
      border-radius: 8px;
      border: 0;
      &:hover {
        background-color: var(--color-three);
        color: var(--color-dark);
        transform: scale(1.009);
      } 
     
    }
    .verificationDetails{
      width: 55%;

      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 30vh;
      
    }

    .google_login {
     padding: 0.8rem ;
width: 55%;
      font-family: var(--font);
      font-size: 18px;
      outline: none;
      background-color: var(--solid-white);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap:1rem;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px;
      p {
        margin: 0;
        font-size: 17px;
        font-weight: 400;
      }
      svg{
        height: 25px ;
        width: 25px;
        margin:0px ;
      }
      &:hover {
        transform: scale(1.009);
      }
    }
  }
  .image {
    width: 50%;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
  }
  @media (max-width: 1000px) {
    // flex-direction: column;
    .credentials{
      width: 100%;
   
    }
    .image{
      display: none;
    }
  }
  @media (max-width: 777px) {
    // flex-direction: column;
    .credentials{
      width: 100%;
      .back0{
        font-size: 1.5rem;
           margin-left: -300px;
           cursor: pointer;
           color: var(--color-dark);
         }
      b{
        font-size: 2rem;
      }
      .back{
        height: 1.5rem;
        width: 1.5rem;
        display: none;
      }
      p{
        font-size: 1rem;
        margin-bottom: 1.7rem;  
      }
      .buttons{
        width:80%;
        // background-color: red;

        button{
          width: 30%;
          font-size: 0.8rem;
          height: 35px;
   
          gap:0.5rem;
        }
      }
      .inputFields{
        width: 80%;
        label{
          font-size: 0.8rem;
        }
        input{
          font-size: 0.8rem;
          width: 100%;
        }
        color: red
        ErrorMessage{
        }
      }
      .fpassword{
        font-size: 0.8em;
        margin: 0.5rem 3rem;
      }
      .google_login,.login{
        width: 80%;
        font-size: 1rem;
        padding: 1rem;
        height: 3rem;
        p {
          font-size: 0.9rem;
        }
        svg{
          height: 1.2rem ;
          width: 1rem;
          margin:0px ;
        }
      }
    }
    .image{
      display: none;
    }
  }
}
.submitMessage{
 width: 70%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 b{
color: var(--color-four);
margin: 1rem 0 !important;
   font-size: 2rem  !important;
 }
 @media (max-width:777px){
  width: 90%;
  b{
    color: var(--color-four);
    margin: 1rem 0 !important;
       font-size: 1rem  !important;
     }
     p{
      font-size: 0.7rem  !important;
     }

 }
}