.footer {
  height: fit-content;
  width: 100vw;
  height: 40vh;
  height: fit-content;
  background-color: var(--color-three);

  color:var(--solid-dark);
  display: flex;
  padding: 3rem 0;
  @media (max-width: 1000px) {

    padding: 1rem 0;
  }

}


.footer_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
       margin: auto;
       height: fit-content;
    box-sizing: border-box;
@media (max-width: 1000px) {
 
 
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
}
@media (max-width: 777px) {
  flex-direction: column;
  justify-content: space-between;
  gap:2rem;
  width: 100%;
  padding: 1rem;
  .first_section{
    display: none;
  }
  .sectionS{
    width: 100%;
  }
  .media_container{
    width:100%;
    margin: 1rem;
  }
}

}
.first_section{
    display: flex;
    flex-direction: column;
    width: 350px;
    width: 30%;
    gap:3rem;
    p{
        font-size: 0.9rem;
        }
    .Logo_footer {
        display: flex;
        gap: 10px;
        overflow: hidden;
        font-weight: 800;
        font-size: 1.5rem;
       
      }
}

.sectionS{
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap:20px;
    b{
        font-size: 1rem;
      
    }
    span{
        margin: 0;
        font-size: 0.7rem;
        text-decoration: none;
        font-family: 'Archivo';
        cursor: pointer;
    }
}
.media_container{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
margin-bottom: 3rem;
gap:20px;
span{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}
}
.social_media{
   i{
         font-size: 1.5rem;
         margin-right: 2rem;    
   }
}
.copyright{
    height: 100%;
    width: 100vw;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-dark);
}