#testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 50px;
  margin-bottom: 150px;
  b {
    font-size: 3.5rem;
    background: var(--text-gradient);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 777px) {
    b {
      font-size: 2rem;
    }
  }
}

.clients {
  height: 50%;
  width: 90%;
  //   background-color: red;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  align-items: center;
  gap: 1em;

  .client {
    background-color: var(--solid-white);
    margin: 1rem auto;
    width: 23rem;
    height: 19rem;
    padding: 1rem 0.3rem;
    border-radius: 0.7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .avtarImage {
      height: 3.5rem;
      width: 3.5rem;
      margin: auto;
    }
    .client_box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 10px 25px;
      gap: 30px;
      p {
        color: var(--solid-grey);
        font-size: 1rem;
        font-family: "Archivo";
        letter-spacing: 1.5px;
        line-height: 1.5;
        padding: 0.5rem 0;
      }
      .line {
        background-color: var(--solid-grey);
        height: 1px;
        width: 100%;
      }
      .user_review {
        width: 100%;
        display: flex;
        // flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        span {
          margin: 0;
        }
      }
      .user_desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        strong {
          font-size: 1rem;
        }
        span {
          font-size: 0.9rem;
          font-family: "Archivo";
          color: var(--solid-grey);
          margin-top: 6px;
          font-weight: 400;
        }
      }
      
    }
    &hover {
      transform: scale(1.1);
    }
  }
@media (max-width:1000px){
    .client{
        transform: scale(0.8);
    }

}
}
