
:root {
 
  --background-color: #f9f9ff;
  --color-1: #001064;
  --color-2 : #5f45ff;
  --solid-black:#000000;
  --solid-white:#ffffff;
  --solid-grey:#000000a3;
  --btn-gradient: linear-gradient(#130470, #5f45ff);
  --text-gradient: -webkit-linear-gradient(#130470, #000000);
  --font:'Archivo Black';
}
