@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
:root {
  --color-light: #ffffff;
  --color-two: #e8ffea;
  --color-three: #76df80;
  --color-four: #588c70;
  --color-dark: #385748;



  --font: "Archivo Black";
  --font-2: "Poppins";
  --font-3: "Montserrat";
}
.css-1aquho2-MuiTabs-indicator{
  margin: 0;
  background-color: #385748 !important;
}
.css-1aquho2-MuiTabs-indicator::after{
  background-color: #385748 !important;
  padding: 0.2rem;
}
.react-tabs__tab--selected:active{
  color: #385748 !important;
  border: none !important;
 
  border-bottom:5px solid red !important;
}
.css-13xfq8m-MuiTabPanel-root{
  padding: 0.5rem !important;
  display: flex;
  margin: 0 !important;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.css-heg063-MuiTabs-flexContainer{
  margin-top: 2rem;
}

.searchWrapper{
  height: 8rem;
  width: 100% !important;
  padding: 1rem !important;
  border-radius: 1.5rem !important;
  border: 1px solid green;
}
.chip{
  background: var(--color-four)!important;
}